
@media(min-width: 35em){
.hero {
  height: 100vh;
  position: relative;
  z-index: -2;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(
      var(--medium),
      transparent,
      var(--medium)
    );
  }

  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > .container {
    h1 {
      color: white;
      margin-bottom: 8rem;
    }

    width: 100%;
    & > div {
      display: flex;
      flex-wrap: wrap; 
      gap: 3.2rem;
      & > div {
        flex: 10rem 1 1;
        color: white;
        & > div:nth-of-type(1) {
          margin-bottom: 2.4rem;
        }
        .herothumb {
          display: flex; 
          gap: 2.4rem;
          height: 6.4rem;
          & > div:nth-of-type(1){
            flex-basis: 6.4rem;
            flex-grow: 0;
            svg{
              font-size: 6.4rem;
            }
          }
             & > div:nth-of-type(2){
              display: flex; 
              align-items: center;
         
             }
        }
      }
    }
  }
}
}