.sectionthree {
  background-color: var(--medium);
  padding-block: 7.4rem;
  & > div:nth-of-type(1) {
    width: max-content;
    margin-inline: auto;
    color: white;
    margin-bottom: 4rem;
    text-align: center;
  }
  & > div:nth-of-type(2) {
    display: flex;
    gap: 3.2rem;
    & > div {
      flex: 10rem 1 1;
      background-color: var(--light);
      height: 30rem;
      padding: 2.4rem; 
      color: white; 
      svg{
        color: var(--danger);
        font-size: 6.4rem;
      }
      h4{
        margin-block: 1.6rem;
      }
      &:hover{
        svg{
            color: white;
        }
        background-color: var(--danger);
      }
    }
  }
}
